#app {
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: start;
    min-height: 100vh;
    font-size: 25px;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-family: monospace;
    font-size: 40px;
    margin: 30px;
}

h2 {
    font-family: monospace;
    font-size: 40px;
}

button:hover {
   background-color: rgb(200,200,200);
  
}

input {
    width: 90%;
    padding-left: 8px;
}